

<form action="/pizzas" method="post">

    <input type="text" placeholder="name" name="name">
    <textarea  name="toppings" id="toppings" cols="30" rows="10" placeholder="toppings"></textarea>
    <input name="price" type="number" placeholder="price">
    <input type="submit" value="Create Pizza">

</form>